{{ do( ctrl.addResByPath('js') )}}

<div class="user_login">
	<form method="post" id="changePassword_form"
		action="{{ROOT}}/user/ajaxChangePassword"
		onsubmit="return false;"
		>
		<div class="loginname">
			<span class="common_hint">原密码</span>
			<span class="common_content"><input type="password" name="oldpassword" /></span>
		</div>
		<div class="password">
			<span class="common_hint">密码</span>
			<span class="common_content"><input type="password" name="password" /></span>
		</div>
		<div class="repassword">
			<span class="common_hint">重复密码</span>
			<span class="common_content"><input type="password" name="repassword" /></span>
		</div>
		<div class="submit">
			<span class="common_hint"></span>
			<span class="common_content"><input type="submit" value="修改" /></span>
		</div>
	</form>
</div>
