$def with(varDict)

$varDict['res'].add('user/homepage','css')
$varDict['res'].add('jdmd_widget','css')

$varDict['res'].add('jquery')
$varDict['res'].add('user/homepage')
$varDict['res'].add('widget/tabs')

<div class="user_homepage">
	<div class="common_layout_column left_column">
		<div class="nickname">
			$varDict['userinfo']['nickname']
		</div>
		<div class="avatar_block">
			<img class="avatar" src="${varDict['userinfo']['avatar'] or '/static/image/meteor.jpg'}" alt="avatar" />
		</div>
	</div>
	<div class="common_layout_column right_column">
		<div class="jdmd_tabs" id="tabs">
			<div class="tab_nav">
				<span class="nav_btn_wrap">
					<a href='#' class="nav_btn" onclick="return false" tab_page="newsfeed">最近动态</a>
				</span>
				<span class="nav_btn_wrap">
					<a href='#' class="nav_btn" onclick="return false" tab_page="userinfo">资料</a>
				</span>
				<span class="nav_btn_wrap">
					<a href='#' class="nav_btn" onclick="return false" tab_page="blog">日志</a>
				</span>
				<span class="nav_btn_wrap">
					<a href='#' class="nav_btn" onclick="return false" tab_page="album">相册</a>
				</span>
			</div>
			<div class="tab_page" tab_page="newsfeed">
				您就先假装这下面有很多很多内容吧
			</div>
			<div class="tab_page" tab_page="userinfo">
				<div class="submitTotal">
					共提交
					<span class="content">
						<a href="/problem/SubmitList?uid=$varDict['userinfo']['uid']">$varDict['submitCount']</a>
					</span>
					次
				</div>
				<div class="submitGroup">
					其中
					$for i in varDict['aSubmitGroupIter']:
						$if i['jr.result']:
							<div class="submit_$(i['jr.result'])">
								返回$i['jr.result']
								<span class="content">
									<a href="/problem/SubmitList?uid=$varDict['userinfo']['uid']&result=$i['jr.result']">$i['COUNT(jr.id)']</a>
								</span>
								次
							</div>
				</div>
			</div>
			<div class="tab_page" tab_page="blog">
				日志
			</div>
			<div class="tab_page" tab_page="album">
				相册
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
