{{ do( ctrl.addResByPath() )}}

<div class="user_homepage">
	<div class="common_layout_column left_column">
		<div class="nickname">
			{{ userinfo['nickname'] }}
		</div>
		<div class="avatar_block">
			<img class="avatar" src="{{ userinfo['avatar'] if userinfo['avatar'] else ROOT+'/static/image/meteor.jpg'}}" alt="avatar" />
		</div>
	</div>
	<div class="common_layout_column right_column">
		<div class="jdmd_tabs" id="tabs">
			<div class="tab_nav">
				<span class="nav_btn_wrap">
					<a href='#' class="nav_btn" onclick="return false" tab_page="newsfeed">最近动态</a>
				</span>
				<span class="nav_btn_wrap">
					<a href='#' class="nav_btn" onclick="return false" tab_page="userinfo">资料</a>
				</span>
				<span class="nav_btn_wrap">
					<a href='#' class="nav_btn" onclick="return false" tab_page="blog">日志</a>
				</span>
				<span class="nav_btn_wrap">
					<a href='#' class="nav_btn" onclick="return false" tab_page="album">相册</a>
				</span>
			</div>
			<div class="tab_page" tab_page="newsfeed">
				计划以后把新鲜事神马的放在这里。
			</div>
			<div class="tab_page" tab_page="userinfo">
				<div>
					<span class="common_hint">昵称</span>
					<span class="common_content">{{userinfo['nickname']}}</span>
				</div>
				<div>
					<span class="common_hint">个人介绍</span>
					<span class="common_content"><pre>{{userinfo['intro']}}</pre></span>
				</div>
				<div>
					<span class="common_hint">注册时间</span>
					<span class="common_content">{{timestr(userinfo['ctime'])}}</span>
				</div>
				<div>
					<span class="common_hint">积分</span>
					<span class="common_content">{{userinfo['score']}}</span>
				</div>
			</div>
			<div class="tab_page" tab_page="blog">
				您就假装这里有日志。
			</div>
			<div class="tab_page" tab_page="album">
				您就假装这里有相册。
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
