{% do res.add('/dje/dje.ajax_form', 'coffee') -%}
{% do res.add('/dje/dje.mask', 'coffee') -%}
{% do res.add('/dje/dje.pager', 'coffee') -%}
{% do res.add('/dje/dje.tabs', 'coffee') -%}
{% do res.addResByPath(('coffee', 'css')) %}
{% do res.add('/discuss/List','css') %}
{% include 'discuss2/topic_list.html' %}

<div class="user_homepage clearfix" data-user-id="{{userinfo['id']}}">
	<div class="common_layout_column left_column">
		<div class="nickname">
			{{ userinfo['nickname'] }}
		</div>
		<div class="common_avatar_block">
			<img class="avatar" src="{{ avatar(userinfo['avatar']) }}" alt="avatar" />
		</div>
		<div class="button_area">
			<div>
				<a class="jf_button" id="focus_button" data-is-focused="{{ isFocused }}" href="#">载入中...</a>
				<a class="jf_button" href="{{ ROOT }}/mail/Write/to_uid/{{ userinfo['id'] }}">发送私信</a>
			</div>
		</div>
	</div>
	<div class="common_layout_column right_column">
		<div class="jdmd_tabs" id="tabs">
			<div class="tab_nav">
				<span class="nav_btn_wrap">
					<a href='#!newsfeed' class="nav_btn" tab_page="newsfeed">最近动态</a>
				</span>
				<span class="nav_btn_wrap">
					<a href='#!userinfo' class="nav_btn" tab_page="userinfo">资料</a>
				</span>
				<span class="nav_btn_wrap">
					<a href='#!topic' class="nav_btn" tab_page="topic">主题</a>
				</span>
				<span class="nav_btn_wrap">
					<a href='#!album' class="nav_btn" tab_page="album">相册</a>
				</span>
				<span class="nav_btn_wrap">
					<a href='#!msg' class="nav_btn" tab_page="msg">留言板</a>
				</span>
			</div>
			<div class="tab_page" tab_page="newsfeed">
			</div>
			<div class="tab_page" tab_page="userinfo">
				<div>
					<span class="common_hint">昵称</span>
					<span class="common_content">{{userinfo['nickname']}}</span>
				</div>
				<div>
					<span class="common_hint">个人介绍</span>
					<span class="common_content"><pre>{{userinfo['intro']}}</pre></span>
				</div>
				<div>
					<span class="common_hint">注册时间</span>
					<span class="common_content">{{timestr(userinfo['ctime'])}}</span>
				</div>
				<div>
					<span class="common_hint">积分</span>
					<span class="common_content">{{userinfo['score']}}</span>
				</div>
			</div>
			<div class="tab_page" tab_page="topic">
				<div class="discuss_list">
					<div class="list"></div>
				</div>
			</div>
			<div class="tab_page" tab_page="album">相册功能仍在开发中...</div>
			<div class="tab_page" tab_page="msg">
				<form action="{{ROOT}}/usermsg/AjaxPostMsg" method="post" class="jdmd_form">
					<input type="hidden" name="to_uid" value="{{ userinfo['id'] }}" />
					<div>给TA留言</div>
					<div>
						<textarea name="text" class="jf_textarea"></textarea>
					</div>
					<div>
						<input type="submit" value="留言" />
					</div>
				</form>
				<div class="msg_list">
					留言列表
				</div>
				<div class="jf_pager pager">
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'newsfeed/Template.html' %}

<script type="text/template" id="msg_template">
	<% _(msg_list).each(function(msg){ %>
		<div class="msg_item" msg_id="<%- msg.id %>">
			<div class="first_line">
				<a class="username_btn" href="#" userid="<%- msg.from_ui.id %>">
					<%- msg.from_ui.nickname %>
				</a>
				回复
				<a class="username_btn" href="#" userid="<%- msg.to_ui.id %>">
					<%- msg.to_ui.nickname %>
				</a>
				:
				<span><%- msg.text %></span>
			</div>
			<div class="second_line">
				<span class="ctime"><%- format_date(msg.ctime) %></span>
			</div>
		</div>
	<% }) %>
</script>
