{% do res.add('dje/dje.format_date', 'js') %}
{% do res.add('newsfeed/Template') %}
{% include 'widget/UserPanel.html' %}
%script#newsfeed-items-template{:type => "text/template"}
  <% _(newsfeed_list).each(function(newsfeed){ %>
  <div class="newsfeed_item clearfix" action_id="<%- newsfeed.id %>">
  <div class="item_avatar push_left">
  <%  switch(newsfeed.from_object_type){
  case 'user':
  \%>
  <img class="avatar" src="<%- dje.avatar(newsfeed.from_user_info.avatar) %>" alt="avatar" title="<%- newsfeed.from_user_info.nickname %>" />
  <%  break;
  case 'topic':
  \%>
  <img class="avatar" src="{{ROOT}}/static/image/topic_avatar.png" alt="avatar" title="<%- newsfeed.from_topic_info.title %>" />
  <%  break;
  case 'tag':
  \%>
  <img class="avatar" src="{{ROOT}}/static/image/tag_avatar.png" alt="avatar" title="<%- newsfeed.from_tag_info.content %>" />
  <%  break;
  }
  \%>
  </div>
  
  <%  switch(newsfeed.from_object_type){
  case 'user':
  \%>
  <a class="username_btn" href="#" data-userid="<%- newsfeed.from_user_info.id %>">
  <%- newsfeed.from_user_info.nickname %>
  </a>
  <%  break;
  case 'topic':
  \%>
  主题
  <a href="{{ROOT}}/discuss/Topic/id/<%- newsfeed.from_topic_info.id %>">
  <%- newsfeed.from_topic_info.title %>
  </a>
  <%  break;
  case 'tag':
  \%>
  标签
  <a href="{{ROOT}}/discuss/List/tag/<%- newsfeed.from_tag_info.id %>">
  <%- newsfeed.from_tag_info.content %>
  </a>
  <%  break;
  }
  \%>
  <%  switch(newsfeed.action_type){
  case 'post':
  switch(newsfeed.from_object_type){
  case 'user':
  \%>
  发表主题
  <%  break;
  case 'tag':
  \%>
  下发表新主题
  <%  break;
  }
  \%>
  <a href="{{ROOT}}/discuss/Topic/id/<%- newsfeed.target_topic_info.id %>">
  <%- newsfeed.target_topic_info.title %>
  </a>
  <%  break;
  case 'reply':
  \%>
  回复主题
  <a href="{{ROOT}}/discuss/Topic/id/<%- newsfeed.target_reply_info.topic.id %>">
  <%- newsfeed.target_reply_info.topic.title %>
  </a>
  <%  break;
  case 'replied':
  \%>
  有了一条新
  <a href="{{ROOT}}/discuss/Topic/id/<%- newsfeed.target_reply_info.topic.id %>#reply<%- newsfeed.target_reply_info.id %>">
  回复
  </a>
  <%  break;
  case 'focus':
  \%>
  关注
  <%  switch(newsfeed.target_object_type){
  case 'user':
  \%>
  用户
  <a class="username_btn" href="#" data-userid="<%- newsfeed.target_user_info.id %>">
  <%- newsfeed.target_user_info.nickname %>
  </a>
  <%  break;
  case 'topic':
  \%>
  主题
  <a href="{{ROOT}}/discuss/Topic/id/<%- newsfeed.target_topic_info.id %>">
  <%- newsfeed.target_topic_info.title %>
  </a>
  <%  break;
  case 'tag':
  \%>
  标签
  <a href="{{ROOT}}/discuss/List/tag/<%- newsfeed.target_tag_info.id %>">
  <%- newsfeed.target_tag_info.content %>
  </a>
  <%
  break;
  }
  \%>
  <%  break;
  }
  \%>
  <div class="ctime"><%- format_date(newsfeed.ctime) %></div>
  </div>
  <% }) %>

%script#newsfeed-container-template{:type => "text/template"}
  .items-container
  .nomore{:style => "display: none"} 没有更多新鲜事了
  .loading{:style => "display: none"}
    .jf_icon{"data-icon" => "loading"}
    载入中...
  %a.load_more{:href => '#', :style => "display: none"} 更多新鲜事
  .error{:style => "display: none"}
    .jf_icon{"data-icon" => "error"}
    %span 载入失败！
    %span.errormsg
