{% do res.addResByPath() %}
{% include 'widget/UserPanel.html' %}

<div class="discuss_list">
	{% if tag_info %}
		<h1>标签: {{ tag_info.content }}</h1>
		<div class="tag_info clearfix">
			<span>此标签下共有主题{{ tag_info.topic_count }}个。</span>
			<div class="push_right">
				<a id="focus_tag_btn" data-tagid="{{ tag_info.id }}" class="jf_button" href="#">关注此标签</a>
			</div>
		</div>
	{% else %}
		<div class="clearfix">
			<h1 class="push_left">讨论区</h1>
			<div class="push_right">
				<a href="{{ROOT}}/discuss2" class="jf_button">筛选主题</a>
			</div>
		</div>
	{% endif %}
	<div class="list">
		{% for topic_item in topic_list %}
			{% include 'discuss/TopicItemInList.html' %}
		{% endfor %}
		<div class="common_pager_container jf_pager">{{page}}</div>
	</div>
	<div class="button_links">
		<div class="post_block">
			{% if uid > 0 %}
				<a class="jf_button" href="{{ROOT}}/discuss2/post_topic">发表新主题</a>
			{% else %}
				<div>未登录用户无法发表主题。</div>
				<div>请先<a href="{{ROOT}}/user/Login?redirect=/discuss/List">登录</a></div>
			{% endif %}
		</div>
	</div>
</div>
