{{ do( ctrl.addResByPath() )}}

<div class="discuss_list">
	<div class="list_container">
		<div class="header">
			<span class="author">作者</span>
			<span class="pnum">题号</span>
			<span class="title">标题</span>
			<span class="ctime">发表时间</span>
			<span class="reply_count">回复</span>
			<span class="last_reply">最后回复</span>
		</div>
		<div class="list">
			{% for i in iter %}
				<div class="item">
					<span class="author">
						<a href="{{ROOT}}/user/MainPage/id/{{i['topic_ui.uid']}}">
							{{i['topic_ui.nickname']}}
						</a>
					</span>
					<span class="pnum">
						{% if i['pn.pnum'] %}
							<a href="/problem/Detail?pnum={{i['pn.pnum']}}" />{{i['pn.pnum']}}</a>
						{% else %}
							无
						{% endif %}
					</span>
					<span class="title">
						<a href="{{ROOT}}/discuss/Topic/id/{{i['id']}}">
							{{i['title']|e}}
						</a>
					</span>
					<span class="ctime">
						{{i['ctime_str']}}
					</span>
					<span class="reply_count">{{i['COUNT(count_dr.id)']}}</span>
					<span class="last_reply">
						{% if i['last_dr.id'] %}
							<span class="time">{{i['last_dr.ctime_str']}}</span>
							<span class="user">
								<a href="{{ROOT}}/user/MainPage/id/{{i['last_dr_ui.uid']}}">
									{{i['last_dr_ui.nickname']}}
								</a>
							</span>
						{% else %}
							<span class="time">-</span>
							<span class="user"></span>
						{% endif %}
					</span>
				</div>
			{% endfor %}
			<div class="common_pager_container">{{page}}</div>
		</div>
	</div>
	<div class="button_links">
		<div class="post_block">
			{% if uid > 0 %}
<div class="discuss_posttopic common_center_block">
	<div class="common_page_title">发表新主题</div>
	<div class="form_block">
		<form id="post_form"
			action='{{ROOT}}/discuss/ajaxPostTopic'
			method='post'
			onsubmit="return false;">
			<input type="hidden" name="pnum" value="{{pnum}}" />
			<div class="input_pnum">
				<span class="h">题号</span>
				<span class="c">
					{{ pnum if pnum > 0 else '无' }}
				</span>
			</div>
			<div class="input_title">
				<span class="h">标题</span>
				<span class="c"><input name="title" class="jdmd_input" validate="notempty" /></span>
			</div>
			<div class="input_content">
				<span class="h">内容</span>
				<span class="c"><textarea name="text" class="jdmd_input" validate="notempty"></textarea></span>
			</div>
			<div class="input_submit">
				<span class="h"></span>
				<span class="c"><input type="submit" class="jdmd_validate_submit" /></span>
			</div>
		</form>
	</div>
</div>
			{% else %}
				<div>未登录用户无法发表主题。</div>
				<div>请先<a href="{{ROOT}}/user/Login?redirect=/discuss/List">登录</a></div>
			{% endif %}
		</div>
		{% if pnum >= 0 %}
			<a href="/problem/Detail?pnum={{pnum}}">返回题目</a>
		{% endif %}
	</div>
</div>
