<div class="discuss_posttopic common_center_block">
	<h1>发表新主题</h1>
	<div class="form_block">
		<form id="post_form"
			action='{{ROOT}}/discuss/ajaxPostTopic'
			method='post'
			onsubmit="return false;"
			class="jdmd_form">
			<div class="jf_line">
				<span class="jf_hint">标题</span>
				<span><input name="title" class="jf_input" /></span>
			</div>
			<div class="jf_line">
				<span class="jf_hint">内容</span>
				<span><textarea name="text" class="jf_textarea"></textarea></span>
			</div>
			<div class="jf_line">
				<span class="jf_hint">标签</span>
				<span>
				  <input id="real_tags" type="hidden" name="tags" />
				  <span class="tag_wrap">
				    <div class="tag_list"></div>
				    <input id="tags_input" class="jf_input" name="input_tags" placeholder="最多可添加5个标签，以空格分隔" />
				  </span>
				</span>
			</div>
			<div class="jf_line">
				<span class="jf_hint"></span>
				<span class="c"><input type="submit" class="jdmd_validate_submit" /></span>
			</div>
		</form>
	</div>
</div>
