{% do res.addResByPath() %}
{% do res.add('/emoji/emoji_list','js') %}
{% do res.add('/showdown/showdown','js') %}
{% do res.add('/TransText','coffee') %}

<script type="text/javascript">
var topic_id = {{ topicInfo['id'] }};
</script>

<div class="discuss_topic">
	<div class="top_button_block">
		<a href="{{ROOT}}/discuss/List">返回讨论区列表</a>
	</div>
	<div class="topic_headblock common_horizontal_block clearfix">
		<span class="topic_title">{{topicInfo['title']|e}}</span>
		<div class="push_right right_buttons">
			<a id="focus_topic_btn" class="jf_button" href="#">关注此主题</a>
		</div>
	</div>
	<div class="jf_tag_line common_horizontal_block">
		{% for tag in aTagIter %}
			<span class="jf_tag">{{ tag['content'] | e }}</span>
		{% else %}
			<span class="jf_tag">无标签</span>
		{% endfor %}
	</div>
	<div class="building">
		{% for reply in aReplyIter %}
			<div class="floor common_horizontal_block clearfix" floor_num="{{ reply['floor'] }}" floor_id="{{reply['id']}}">
				<a name="reply{{reply['id']}}"></a>
				<div class="common_layout_column floor_left_column">
					<div class="user_panel">
						<div class="common_avatar_block">
							<img class="common_avatar" src="{{ avatar( reply['ui.avatar'] ) }}" alt="avatar" />
						</div>
						<div class="nickname">
							<a href="{{ROOT}}/userinfo/MainPage/id/{{reply['ui.id']}}">
								{{reply['ui.nickname']}}
							</a>
						</div>
					</div>
				</div>
				<div class="common_layout_column floor_right_column">
					{% if reply['reply_to_id'] > 0 and reply['rtr.id'] %}
						<div class="reply_to_reply" reply_to_id="{{reply['reply_to_id']}}">
							<span>reply to:</span>
							<span>
								<a href="{{ROOT}}/user/MainPage/id/{{reply['rtrui.uid']}}">
									{{reply['rtrui.nickname']|e}}
								</a>
							</span>
							<div class="content">
								<script type="text/markdown">{{ reply['rtr.text']|e}}</script>
								<div class="jf_markdown">{{ reply['rtr.text'] |e}}</div>
							</div>
							<div class="buttons">
								<a href='#' onclick="return false" class="jump_button">jump to</a>
							</div>
						</div>
					{% endif %}
					<div class="floor_content">
						<div class="floor_text">
							<script type="text/markdown">{{ reply['text']|e }}</script>
							<div class="jf_markdown">{{ reply['text']|e }}</div>
						</div>
						<div class="floor_edit">
							{% if reply['ui.id'] == uid %}
								<form class="edit_form"
									action='{{ROOT}}/discuss/ajaxEditReply'
									method='post'
									onsubmit="return false;">
									<input type='hidden' name='reply_id' value='{{reply['id']}}' />
									<textarea name="text" placeholder="请输入回复内容..."></textarea>
									<input type='submit' value='提交修改' />
								</form>
							{% endif %}
						</div>
					</div>
					<div class="floor_right_bottom">
						<div class="floor_count">{{ reply['floor'] }}楼</div>
						<div class="floor_time">{{ timestr(reply['ctime']) }}</div>
						<div class="floor_button">
							<a href='#' onclick="return false" class="reply_button">回复</a>
							{% if reply['ui.id'] == uid %}
								<a href='#' onclick="return false" class="edit_button">编辑</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="center_button_block">
		<a href="{{ROOT}}/discuss/List">返回讨论区列表</a>
	</div>
	<div class="reply_block">
		{% if uid > 0 %}
		<form id="reply_form"
			action='{{ROOT}}/discuss/ajaxPostReply'
			method='post'
			onsubmit="return false;">
			<input type='hidden' name='tid' value='{{topicInfo['id']}}' />
			<input type='hidden' name='reply_to_id' value='-1' />
			<div class="h">发表回复</div>
			<div class="reply_to_hint">
				<span>回复<span class="floor_num">-1</span>楼</span>
				<a href='#' onclick="return false" class="cancel_reply_button">取消</a>
			</div>
			<div>
				<textarea name="text" placeholder="请输入回复内容..."></textarea>
			</div>
			<input type='submit' value='发送' />
		</form>
		{% else %}
			<div>未登录用户无法评论。</div>
			<div>请先<a href="{{ROOT}}/user/Login?redirect=/discuss/Topic/id/{{topicInfo['id']}}">登录</a></div>
		{% endif %}
	</div>
</div>
