			<div class="item">
				<div class="title_line clearfix">
					<div class="common_layout_column">
						<div class="avatar_block">
							<img class="avatar" src="{{ avatar( topic_item['topic_ui.avatar'] ) }}" alt="avatar" title="{{ topic_item['topic_ui.nickname'] }}" />
						</div>
						<div class="author_nickname">
							<a class="username_btn" href="#" userid="{{ topic_item['topic_ui.id'] }}" >
								{{ topic_item['topic_ui.nickname'] }}
							</a>
						</div>
					</div>
					<div class="common_layout_column">
						<div class="title">
							<a href="{{ROOT}}/discuss/Topic/id/{{ topic_item['id']}}">
								{{topic_item['title']|e}}
							</a>
						</div>
						<div class="jf_tag_line">
							{% for tag in topic_item['tag_list'] %}
								<span class="jf_tag">
									<a href="{{ROOT}}/discuss/List/tag/{{tag.id}}">{{ tag.content | e }}</a>
								</span>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="topic_info_line">
					<span class="ctime">
						发表时间：
						{{ timestr( topic_item['ctime'] ) }}
					</span>
					<span class="reply_count">
						楼层数：
						{{ topic_item['reply_count']}}
					</span>
					<span class="last_reply">
						最后回复：
						{% if topic_item['tc.first_reply_id'] != topic_item['tc.last_reply_id'] %}
							<span class="time">{{ timestr( topic_item['last_reply.ctime'] ) }}</span>
							<span class="user">
								<img class="avatar" src="{{ avatar( topic_item['last_reply_ui.avatar'] ) }}" alt="avatar" title="{{ topic_item['last_reply_ui.nickname'] }}" />
							</span>
						{% else %}
							<span class="time">-</span>
							<span class="user"></span>
						{% endif %}
					</span>
				</div>
			</div>
