{% do ctrl.addResByPath('res') %}
<div>drape是一个Python的web后台框架</div>
<div>drape支持MVC</div>
<div>drape支持url伪静态</div>
<div>drape支持LinkedModel</div>
<div>drape为cookie、session等常用操作提供简易的封装</div>
<div><a href="{{ROOT}}/manual">查看详细介绍</a></div>
<hr />
<div>test drape站是用来测试drape各方面的能力的demo。</div>
<div>有任何意见、建议、问题，欢迎到<a href="{{ROOT}}/discuss/List">讨论区</a>参与讨论</div>
<hr />
<div>
	testdrape源代码：
	<a href="https://github.com/lexdene/testdrape" target="_blank">https://github.com/lexdene/testdrape</a>
</div>
<div>版本：{{testdrape_version}}</div>
<div>
	drape源代码：
	<a href="https://github.com/lexdene/drape" target="_blank">https://github.com/lexdene/drape</a>
</div>
<div>版本：{{drape_version}}</div>
<div>本网站使用drape，jinja2，mako，MySQLdb，Markdown，gemoji构建。</div>
<hr />
<div>作者：刘项。google+主页：<a href="https://plus.google.com/108046140542915878788?rel=author">刘项</a></div>
<div>
  <span>喜欢本站？请点击：</span>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <g:plusone size="medium"></g:plusone>
</div>
<div>美工由<b>李小胖</b>和<b>oahcil</b>提供。</div>
<hr />
<div>sae开发者认证求推荐：<a href="http://sae.sina.com.cn/?m=home&amp;a=devlevel&amp;level=normal_level&amp;voteme=fhfijj">http://sae.sina.com.cn/?m=home&amp;a=devlevel&amp;level=normal_level&amp;voteme=fhfijj</a></div>
