<div class="notice_list">
{% for notice in noticeList %}
	<div class="notice_item" noticeid="{{notice['id']}}">
	{% if 'reply_topic' == notice['type'] %}
		<a target='_blank' class="fromuser"
			href='{{ROOT}}/userinfo/MainPage/id/{{notice['fromuser.id']}}'
		>{{notice['fromuser.nickname']}}</a>
		回复了您的主题
		<a target='_blank' class="fromtopic"
			href='{{ROOT}}/discuss/Topic/id/{{notice['reply_info']['dt.id']}}#reply{{notice['item_id']}}'
		>{{notice['reply_info']['dt.title']}}</a>
	{% elif 'reply_to_reply' == notice['type'] %}
		<a target='_blank' class="fromuser"
			href='{{ROOT}}/userinfo/MainPage/id/{{notice['fromuser.id']}}'
		>{{notice['fromuser.nickname']}}</a>
		在主题
		<a target='_blank' class="fromtopic"
			href='{{ROOT}}/discuss/Topic/id/{{notice['reply_info']['dt.id']}}#reply{{notice['item_id']}}'
		>{{notice['reply_info']['dt.title']}}</a>
		回复了您
	{% elif 'focus_user' == notice['type'] %}
		<a target='_blank' class="fromuser"
			href='{{ROOT}}/userinfo/MainPage/id/{{notice['fromuser.id']}}'
		>{{notice['fromuser.nickname']}}</a>
		关注了您
	{% elif 'usermsg' == notice['type'] %}
		<a target='_blank' class="fromuser"
			href='{{ROOT}}/userinfo/MainPage/id/{{notice['fromuser.id']}}'
		>{{notice['fromuser.nickname']}}</a>
		给您<a target="_blank" href="{{ ROOT }}/usermsg/MyMsgList">留言</a>了
	{% endif %}
	</div>
{% else %}
	<div class="no_notice">无未读通知</div>
{% endfor %}
</div>
