{% include 'widget/form.html' %}
{% do res.addResByPath('js') %}

<div class="user_login common_center_block">
	<h1>登录</h1>
	<form method="post" id="submit_form"
		action="{{ROOT}}/user/ajaxLogin"
		data-redirect="{{redirect}}"
		onsubmit="return false;"
		class="jdmd_form"
		>
		<div class="jf_line">
			<span class="jf_hint">登录名</span>
			<span>
				<input class="jf_input" name="loginname" />
			</span>
		</div>
		<div class="jf_line">
			<span class="jf_hint">密码</span>
			<span>
				<input class="jf_input" type="password" name="password" />
			</span>
		</div>
		<div class="jf_line">
			<span class="jf_hint">验证码</span>
			<span>
				<input class="jf_valcode_input" name="valcode" />
				<img class="jf_valcode_img" src="{{ROOT}}/validatecode/genImage" />
				<a class="jf_valcode_btn" href="#">看不清，换一个</a>
			</span>
		</div>
		<div class="jf_line">
			<span class="jf_hint"></span>
			<span>
				<label>
					<input type="checkbox" name="autologin" />
					{{autologin_daylength}}天内自动登录
				</label>
				<input type="hidden" name="autologin_daylength" value="{{autologin_daylength}}" />
			</span>
		</div>
		<div class="jf_line">
			<span class="jf_hint"></span>
			<span>
				<input type="submit" value="登录" />
				<a href="{{ROOT}}/user/Register?redirect={{redirect}}">注册</a>
			</span>
		</div>
	</form>
</div>
