{% do res.addResByPath('js') %}

<div class="user_login common_center_block">
	<h1>注册</h1>
	<form method="post" id="register_form"
		action="{{ROOT}}/user/ajaxRegister"
		onsubmit="return false;"
		redirect="{{redirect}}"
		class="jdmd_form"
		>
		<h2>基本信息</h2>
		<div class="jf_line">
			<span class="jf_hint">登录名</span>
			<span><input class="jf_input" name="loginname" /></span>
		</div>
		<div class="jf_line">
			<span class="jf_hint">密码</span>
			<span><input class="jf_input" type="password" name="password" /></span>
		</div>
		<div class="jf_line">
			<span class="jf_hint">重复密码</span>
			<span><input class="jf_input" type="password" name="repassword" /></span>
		</div>
		<h2>详细信息</h2>
		<div class="jf_line">
			<span class="jf_hint">昵称</span>
			<span><input class="jf_input" name="nickname" /></span>
		</div>
		<div class="jf_line">
			<span class="jf_hint">电子邮箱</span>
			<span><input class="jf_input" name="email" /></span>
		</div>
		<div class="jf_line">
			<span class="jf_hint">个人介绍</span>
			<span><textarea class="jf_textarea" name="intro"></textarea></span>
		</div>
		<h2>验证码</h2>
		<div class="jf_line">
			<span class="jf_hint">验证码</span>
			<span>
				<input class="jf_valcode_input" name="valcode" />
				<img class="jf_valcode_img" src="{{ROOT}}/validatecode/genImage" />
				<a class="jf_valcode_btn" href="#" onclick="return false">看不清，换一个</a>
			</span>
		</div>
		<div class="jf_line">
			<span class="jf_hint"></span>
			<span><input type="submit" value="注册" /></span>
		</div>
	</form>
</div>
