{{ do( ctrl.addResByPath('js') )}}

<div class="user_login common_center_block">
	<div class="common_page_title">注册</div>
	<form method="post" id="register_form"
		action="{{ROOT}}/user/ajaxRegister"
		onsubmit="return false;"
		redirect="{{redirect}}"
		>
		<div class="common_category_title">基本信息</div>
		<div>
			<span class="common_hint">登录名</span>
			<span class="common_content"><input name="loginname" /></span>
		</div>
		<div>
			<span class="common_hint">密码</span>
			<span class="common_content"><input type="password" name="password" /></span>
		</div>
		<div>
			<span class="common_hint">重复密码</span>
			<span class="common_content"><input type="password" name="repassword" /></span>
		</div>
		<div class="common_category_title">详细信息</div>
		<div>
			<span class="common_hint">昵称</span>
			<span class="common_content"><input name="nickname" /></span>
		</div>
		<div>
			<span class="common_hint">电子邮箱</span>
			<span class="common_content"><input name="email" /></span>
		</div>
		<div>
			<span class="common_hint">个人介绍</span>
			<span class="common_content"><textarea style="height:80px" name="intro"></textarea></span>
		</div>
		<div class="common_category_title">验证码</div>
		<div class="valcode">
			<span class="common_hint">验证码</span>
			<span class="common_content">
				<input name="valcode" />
			</span>
		</div>
		<div class="valcode_img">
			<span class="common_hint"></span>
			<span class="common_content">
				<img class="common_valcode_img" src="{{ROOT}}/validatecode/genImage" />
				<a class="valcode_btn" href="#" onclick="return false">看不清，换一个</a>
			</span>
		</div>
		<div class="submit">
			<span class="common_hint"></span>
			<span class="common_content"><input type="submit" value="注册" /></span>
		</div>
	</form>
</div>
