<div class="usercenter_layout clearfix">
	<div class="common_layout_column jdmd_nav_left">
		<ul>
			<li><a href="{{ROOT}}/user/UserCenter">个人中心</a></li>
			<li><a href="{{ROOT}}/user/ChangePassword">修改密码</a></li>
			<li><a href="{{ROOT}}/user/EditUserInfo">修改个人资料</a></li>
		</ul>
	</div>
	<div class="common_layout_column jdmd_nav_right">
		<div class="common_center_block">
			<h1 class="common_page_title">{{title}}</h1>
		</div>
		<div class="common_center_block">
			{{body}}
		</div>
	</div>
</div>
