{%- do res.add( LIBCDN + '/jquery/1.9.1/jquery.min','js') %}
{%- do res.add( LIBCDN + '/underscore/1.3.3/underscore-min','js') %}
{%- do res.add('/frame/notice','coffee') %}
{%- do res.add('/jdmd_widget','css') %}
{%- do res.add('/drapeje','js') %}
{%- do res.add('/dje/dje.util','coffee') %}
{%- do res.addResByPath(('css', 'coffee')) %}
{%- do res.add('/Common', 'coffee') %}
{%- do res.add('/hot/LoadHot', 'coffee') %}
<div class="layout_head_line clearfix">
	<div class="left_buttons push_left">
		<img class="website_icon" src="{{ROOT}}/static/image/breaking.ico" alt="testdrape" />
		{% if uid > 0 %}
			<a href="{{ ROOT }}/home">首页</a>
		{% else %}
			<a href="{{ ROOT }}/index">首页</a>
		{% endif %}
		<a href='{{ROOT}}/discuss'>讨论区</a>
		<a href='{{ROOT}}/manual'>drape介绍</a>
	</div>
	<div class="right_buttons push_right">
		{% if uid > 0 %}
			<a href="{{ROOT}}/user/UserCenter">个人中心</a>
			<a href="{{ROOT}}/userinfo/MainPage/id/{{userinfo['id']}}">{{userinfo['nickname']}}</a>
			<a href='#' class="notice_btn">
				通知
				{% if notice_count > 0 %}
					(<span class="count">{{notice_count}}</span>)
				{% endif %}
			</a>
			<a href='{{ROOT}}/mail/ReceiveBox' class="mail_btn">
				私信
				{% if mail_count > 0 %}
					(<span class="count">{{mail_count}}</span>)
				{% endif %}
			</a>
			<a href="{{ROOT}}/user/Logout">注销</a>
		{% else %}
			<a href='{{ROOT}}/user/Register'>注册</a>
			<a href='{{ROOT}}/user/Login'>登录</a>
		{% endif %}
	</div>
</div>
<div class="body_block">
	<div class="frontpage">
		<div class="frontpage_body frontpage_block frontpage_content_block clearfix">
			<div class="frontpage_body_main common_layout_column">{{body}}</div>
			<div class="frontpage_body_right common_layout_column" id="body_right"></div>
		</div>
		<div class="frontpage_bottom frontpage_block frontpage_content_block">
			<div>大连理工大学电子信息与电气工程学部CPF科技协会JDMD工作室</div>
		</div>
	</div>
</div>
