{%- do  res.append(('http://code.jquery.com/jquery-1.9.1.min','js'))  %}
{%- do  ctrl.addResByPath()  %}
{%- do  res.append(('js/frame/HeadLine','js'))  %}
{%- do  res.append(('css/common','css'))  %}
{%- do  res.append(('css/jdmd_widget','css'))  %}
{%- do  res.append(('js/drapeje','js'))  %}
<div class="layout_head_line">
	<div class="left_buttons">
		<img class="website_icon" src="{{ROOT}}/static/image/breaking.ico" alt="testdrape" />
	</div>
	<div class="left_buttons">
		<a href='{{ROOT}}/'>首页</a>
		<a href='{{ROOT}}/discuss/List'>讨论区</a>
		<a href='{{ROOT}}/manual'>drape介绍</a>
	</div>
	<div class="right_buttons">
		{% if uid > 0 %}
			<a href="{{ROOT}}/user/UserCenter">个人中心</a>
			<a href="{{ROOT}}/userinfo/MainPage/id/{{userinfo['id']}}">{{userinfo['nickname']}}</a>
			<a href='#' onclick="return false" class="notice_btn">
				通知
				{% if notice_count > 0 %}
					(<span class="count">{{notice_count}}</span>)
				{% endif %}
			</a>
			<a href='{{ROOT}}/mail/ReceiveBox' class="mail_btn">
				私信
				{% if mail_count > 0 %}
					(<span class="count">{{mail_count}}</span>)
				{% endif %}
			</a>
			<a href="{{ROOT}}/user/Logout">注销</a>
		{% else %}
			<a href='{{ROOT}}/user/Register'>注册</a>
			<a href='{{ROOT}}/user/Login'>登录</a>
		{% endif %}
	</div>
	<div class="clear"></div>
</div>
<div class="body_block">
	<div class="frontpage">
		<div class="frontpage_body frontpage_block frontpage_content_block">
			{{body}}
		</div>
		<div class="frontpage_bottom frontpage_block frontpage_content_block">
			<div>大连理工大学电子信息与电气工程学部CPF科技协会JDMD工作室。</div>
			<div>作者：刘项。google+主页：<a href="https://plus.google.com/108046140542915878788?rel=author">刘项</a></div>
			<div>
				<span>喜欢本站？请点击：</span>
				<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
				<g:plusone size="medium"></g:plusone>
			</div>
			<div>美工由<b>李小胖</b>和<b>oahcil</b>提供。</div>
			<hr />
			<div>sae开发者认证求推荐：<a href="http://sae.sina.com.cn/?m=home&amp;a=devlevel&amp;level=normal_level&amp;voteme=fhfijj">http://sae.sina.com.cn/?m=home&amp;a=devlevel&amp;level=normal_level&amp;voteme=fhfijj</a></div>
		</div>
	</div>
</div>
