{% do res.addResByPath(('coffee', 'css')) -%}
{% do res.add('/dje/dje.pager', 'coffee') -%}
{% include 'widget/UserPanel.html' %}
{% include 'discuss2/topic_list.html' %}
<div class="discuss2_filter_topic">
  <div class="tags">
    <h3>所有标签</h3>
    <div class="tag-list" id="all-tag-list">
    </div>
    <div class="jr_pager page"></div>
  </div>
  <div class="selected-tags">
    <h3>已选择的标签</h3>
    <div class="tag-list">
      <ul class="jf_label_list" id="selected-tag-list">
      </ul>
    </div>
  </div>
  <div class="discuss_list">
    <div class="clearfix">
      <h3 class="push_left">主题列表</h3>
      <a class="jf_button push_right" href="{{ROOT}}/discuss2/post_topic">发表新主题</a>
    </div>
    <div class="topic-list list" id="topic-list">
    </div>
    <div class="jr_pager page"></div>
  </div>
</div>
