{% do res.add('/dje/dje.ajax_form', 'coffee') -%}
{% do res.add('/dje/dje.mask', 'coffee') -%}
{% do res.addResByPath(('coffee', 'css')) -%}
<div class="discuss2_post_topic">
	<h1>发表新主题</h1>
	<div class="form_block">
		<form id="post_form" action="{{ROOT}}/discuss2/ajax_post_topic" method="post" class="jdmd_form">
			<div class="jf_line">
				<span class="jf_hint">标题</span>
				<span><input name="title" class="jf_input" /></span>
			</div>
			<div class="jf_line">
				<span class="jf_hint">内容</span>
				<span><textarea name="text" class="jf_input"></textarea></span>
			</div>
			<div class="jf_line">
				<span class="jf_hint">已选标签</span>
				<span class="jf_tag_line" id="tag_line">
					<span class="jf_input" name="tags"></span>
				</span>
			</div>
			<div class="jf_line">
				<span class="jf_hint">标签</span>
				<span>
				    <input id="tags_input" class="jf_input" placeholder="最多可添加5个标签，以空格分隔" />
				</span>
			</div>
			<div class="jf_line">
				<span class="jf_hint"></span>
				<span class="c"><input type="submit" class="jdmd_validate_submit" /></span>
			</div>
		</form>
	</div>
	<a href="{{ROOT}}/discuss2/filter_topic">返回主题列表</a>
</div>
