{% do res.addResByPath(('coffee', 'css')) -%}
{% do res.add('/userinfo/UserPanel') -%}
{% include 'widget/TransText.html' %}
<div class="mail_receivebox common_center_block">
	<div class="head_line">
		<span class="isread">&nbsp;</span>
		<span class="fromuser">发件人</span>
		<span class="title">主题</span>
		<span class="time">发送时间</span>
	</div>
	{% for mail in maillist %}
		<div class="mail_item">
			<div class="title_line">
				<span class="isread">*</span>
				<span class="fromuser">
					<a class="username_btn" href='#' userid='{{mail['fromuser.id']}}'>
						{{mail['fromuser.nickname']|e}}
					</a>
				</span>
				<a href='#' class="title">{{mail['title']|e}}</a>
				<span class="time">{{ timestr( mail['ctime'] ) }}</span>
			</div>
			<div class="body" style="display:none">
				<script type="text/markdown">{{ mail['text'] |e }}</script>
				<div class="jf_markdown">{{ mail['text'] |e }}</div>
			</div>
		</div>
	{% endfor %}
</div>
