{% do  ctrl.addResByPath()  %}
{% do  ctrl.addResByPath(path='/userinfo/UserPanel')  %}

<div class="mail_write common_center_block">
	<div class="common_page_title">发送私信</div>
	<div class="form_block">
		<form id="write_form"
			action='{{ROOT}}/mail/ajaxWrite'
			method='post'
			onsubmit="return false;">
			<div class="touser">
				<span class="common_hint">发送给</span>
				<span class="common_content">
					<input type='hidden' name="to_uid" value="{{to_userinfo['id']}}" />
					<a class="username_btn" href="#" userid="{{to_userinfo['id']}}" onclick="return false">
						{{to_userinfo['nickname']}}
					</a>
				</span>
			</div>
			<div class="input_title">
				<span class="common_hint">标题</span>
				<span class="common_content"><input name="title" class="jdmd_input" validate="notempty" /></span>
			</div>
			<div class="input_content">
				<span class="common_hint">内容</span>
				<span class="common_content"><textarea name="text" class="jdmd_input" validate="notempty"></textarea></span>
			</div>
			<div class="input_submit">
				<span class="common_hint"></span>
				<span class="common_content"><input type="submit" /></span>
			</div>
		</form>
	</div>
</div>
