{% do res.addResByPath('js') -%}
{% do res.add(path='/userinfo/UserPanel') -%}
<div class="mail_write common_center_block">
	<h1 class="common_page_title">发送私信</h1>
	<div class="form_block">
		<form id="write_form"
			action='{{ROOT}}/mail/ajaxWrite'
			method='post'
			class="jdmd_form"
			onsubmit="return false;">
			<div class="touser jf_line">
				<span class="jf_hint">发送给</span>
				<span>
					<input type='hidden' name="to_uid" value="{{to_userinfo['id']}}" />
					<a class="username_btn" href="#" userid="{{to_userinfo['id']}}">
						{{to_userinfo['nickname']}}
					</a>
				</span>
			</div>
			<div class="input_title jf_line">
				<span class="jf_hint">标题</span>
				<span><input name="title" class="jf_input" /></span>
			</div>
			<div class="input_content jf_line">
				<span class="jf_hint">内容</span>
				<span><textarea name="text" class="jf_input"></textarea></span>
			</div>
			<div class="input_submit jf_line">
				<span class="jf_hint"></span>
				<span><input type="submit" /></span>
			</div>
		</form>
	</div>
</div>
