pre{
	margin: 0;
	padding: 0;
}
html{
	overflow-y: scroll;
}
input:not([type]),input[type="password"], input[type="text"],textarea{
	width: 180px;
	padding: 0;
	margin: 0;
}
.common_layout_column{
	float: left;
}
.common_horizontal_block{
	margin: 5px 0;
	padding: 0 15px;
	border: solid 1px;
	border-radius: 4px;
}
.common_page_title{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	background-color: #F8F8F8;
	border: 1px solid #CCC;
	line-height: 24px;
	padding: 6px 10px;
	border-radius: 5px;
}
.common_center_block{
	width: 300px;
	margin: 0 auto;
}
.common_success{
	color: green;
}
.common_failed{
	color: red;
}
.common_hint{
	font-size: 16px;
	height: 25px;
	line-height: 25px;
	display: inline-block;
	width: 70px;
	vertical-align: top;
}
.common_content{
	display: inline-block;
	vertical-align: middle;
	padding: 2px 0;
}
.common_valcode_img{
	width: 76px;
	height: 20px;
	vertical-align: middle;
}
input.common_valcode{
	width: 40px;
}
.common_valcode_btn{
	font-size: 12px;
}
.common_dialog{
	display: none;
	width: 300px;
	height: 200px;
	border: solid 1px;
	background: #F2F5F7;
}
.common_emoji{
	height: 32px;
	width: 32px;
}
pre{
	background-color: #F8F8F8;
	border: 1px solid #CCC;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}
.common_pager{
	text-align: center;
	height: 40px;
	margin: 20px 0;
}
.common_pager .buttons{
	display: inline-block;
	margin-bottom: 0;
	margin-left: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.common_pager .hints{
	display: none;
}
.common_pager .buttons a,.common_pager .buttons span{
	line-height: 20px;
	float: left;
	padding: 0 14px;
	line-height: 38px;
	text-decoration: none;
	background-color: #F2F5F7;
	border: 1px solid white;
}
.common_pager .buttons a{
	color: #08c;
}
.common_category_title{
	font-size: 22px;
	font-weight: bold;
	line-height: 32px;
}
.common_avatar_block{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
	background: white;
	text-align: center;
}
.common_avatar_block .common_avatar{
	max-width: 100px;
	max-height: 100px;
}
