{% include 'widget/form.html' %}
{% do res.addResByPath('js') %}
.user_login
  %form#changePassword_form.jdmd_form{:action => "{{ROOT}}/user/ajaxChangePassword", :method => "post", :onsubmit => "return false;"}
    .loginname.jf_line
      %span.jf_hint 原密码
      %span
        %input.jf_input{:name => "oldpassword", :type => "password"}/
    .password.jf_line
      %span.jf_hint 密码
      %span
        %input.jf_input{:name => "password", :type => "password"}/
    .repassword.jf_line
      %span.jf_hint 重复密码
      %span
        %input.jf_input{:name => "repassword", :type => "password"}/
    .submit.jf_line
      %span.jf_hint
      %span.common_content
        %input{:type => "submit", :value => "\344\277\256\346\224\271"}/
