.rounded-corners (@radius: 4px) {
  border-radius: @radius;
}
.top-rounded-corners (@radius: 4px){
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.shadow (@color){
  box-shadow: 0 1px 2px @color;
}
@color-full-dark: #084c85;
@color-dark: #C2DDF9;
@color-mid: #F2F5F7;
@color-bright: #F8F8F8;
@color-grey: #AAA;
@color-white: white;
@color-error: #A00;

.time(){
  font-size: 12px;
  color: @color-grey;
}
.item(){
  padding: 5px 10px;
  border-bottom: 1px solid @color-dark;
}
.white-border (@border-width: 2px){
  border: @border-width solid white;
}

.linear-back (@from-color, @to-color){
  background-image: -moz-linear-gradient(top, @from-color, @to-color);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@from-color), to(@to-color));
  background-image: -webkit-linear-gradient(top, @from-color, @to-color);
  background-image: -o-linear-gradient(top, @from-color, @to-color);
  background-image: linear-gradient(to bottom, @from-color, @to-color);
  background-repeat: repeat-x;
}
