@import "common";

/* tabs */
.jdmd_tabs{
	.rounded-corners;
	padding: .2em;
	zoom: 1;
	
	.tab_nav{
		margin: 0;
		padding: .2em .8em 0;
		border-bottom: 1px solid @color-grey;
		position: relative;
		zoom: 1;

		.nav_btn_wrap{
			margin: 1px .2em 0;
			border: 1px solid @color-grey;
			background-color: @color-full-dark;
			color: @color-bright;
			.top-rounded-corners;
			padding: .5em 1em;
			line-height: 1.3;
			display: inline-block;
			position: relative;
			border-bottom: 0;

			a{
				color: inherit;
				text-decoration: none;
			}
		}

		.nav_btn_active{
			/* border: 1px solid @color-grey; */
			background-color: @color-mid;
			font-weight: normal;
			color: @color-full-dark;
			bottom: -1px;
		}
	}

	.tab_page{
		padding: 1em 1.4em;
		background: @color-mid;
		.rounded-corners;
		display: none;
	}
}

/* nav */
.jdmd_nav_left{
    padding: 20px 0 0 0;
    width: 200px;

	ul{
		margin: 0;
		padding: 0 0 0 10px;
	}
}
.jdmd_nav_right{
    padding: 20px 0;
    width: 550px;
}
.jdmd_nav_right_body{
    border-radius: 4px;
    border: 2px solid white;
    padding: 10px;
}
.jdmd_nav_right_top{
    padding-bottom: 20px;
}
.jdmd_nav_right_bottom{
    padding-top: 20px;
}

/* form */
.jdmd_form{
	.jf_line{
		line-height: 30px;

		&:hover{
			background-color: @color-dark;
		}

		.jf_hint{
			display: inline-block;
			width: 80px;
			text-align: right;
			padding-right: 5px;
		}

		.jf_input{
			width: 200px;
			height: 15px;
			margin: 0;
		}

		.jf_valcode_input{
			.jf_input;
			width: 80px;
		}

		textarea.jf_input{
			.jf_input;
			height: 80px;
		}

		.jf_valcode_img{
			height: 20px;
			vertical-align: middle;
		}
	}
}

.common_layout_column{
	float: left;
}

/* pager */
.jr_pager{
	text-align: center;
	height: 40px;
	margin: 20px 0;

	.buttons{
		display: inline-block;
		margin-bottom: 0;
		margin-left: 0;
		.rounded-corners;
		.shadow(rgba(0,0,0,0.05));

		.item{
			line-height: 20px;
			float: left;
			padding: 0 14px;
			line-height: 38px;
			text-decoration: none;
			background-color: @color-mid;
			border: 1px solid @color-white;
		}

		a{
			.item;
		}

		span{
			.item;
		}
	}

	.hints{
		display: none;
	}
}

/* tag */
.jf_tag_line{
	line-height: 25px;

	.jf_tag{
		.rounded-corners;
		padding: 2px 5px;
		margin-right: 3px;
		color: @color-full-dark;
		background-color: @color-dark;
	}
}

/* common */
.common_horizontal_block{
	.rounded-corners;
	.white-border;

	padding: 0 10px;
	margin-bottom: 10px;
}
.common_avatar_block{
	.avatar-block(100px);
}

/* error */
.jf_error{
	color: @color-error;
}

.jf_form_error{
	.jf_error;

	border: 2px solid @color-white;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	.rounded-corners;
}

.jf_emoji{
	height: 32px;
	width: 32px;
}

pre{
	background-color: @color-bright;
	border: 1px solid @color-grey;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	.rounded-corners;
}

.common_dialog{
	display: none;
	width: 300px;
	height: 200px;
	border: solid 1px;
	background: #F2F5F7;
}

.jf_button{
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	.linear-back(#00aacc, #0044cc);
	border-color: #0044cc #0044cc #002a80;
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #cccccc;
	border-bottom-color: #b3b3b3;

	.rounded-corners;

	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.push_right{
	float: right;
}

.jf_label_list{
	padding: 0;
	margin: 0;

	.jf_label{
		display: inline-block;
		background: none repeat scroll 0 0 @color-white;
		border: 1px solid #CCCCCC;
		cursor: pointer;
		display: inline-block;
		line-height: 30px;
		margin-bottom: 3px;
		margin-right: 5px;
		padding: 0 10px 0 10px;

		.rounded-corners;

		&.active{
			border: 1px solid @color-full-dark;
			color: @color-full-dark;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
			outline: 0 none;
		}
	}
}

/* mask */
.jf_mask_wrap{
	position: relative;
}

.jf_blackmask{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: @color-mask;

	.place_holder{
		height: 50%;
	}
	> div{
		width: 100px;
		margin: 0 auto;
	}
}

/* spin */
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.jf_spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
