{% include 'widget/form.html' %}
{% do res.add() -%}
.discuss2_post_topic
  %h1 发表新主题
  .form_block
    %form#post_form.jdmd_form{:action => "{{ROOT}}/discuss/ajax_post_topic", :method => "post"}
      .jf_line
        %span.jf_hint 标题
        %span
          %input.jf_input{:name => "title"}/
      .jf_line
        %span.jf_hint 内容
        %span
          %textarea.jf_input{:name => "text"}
      .jf_line
        %span.jf_hint 已选标签
        %span#tag_line.jf_tag_line
          %span.jf_input{:name => "tags"}
      .jf_line
        %span.jf_hint 标签
        %span
          %input#tags_input.jf_input{:placeholder => "最多可添加5个标签，以空格分隔"}/
      .jf_line
        %span.jf_hint
        %span.c
          %input.jdmd_validate_submit{:type => "submit"}/
  %a{:href => "{{ROOT}}/discuss/topics/index"} 返回主题列表
