body{
	background:#C2DDF9;
	margin: 0;
}
.layout_head_line{
	height: 22px;
	background: url(../../image/topbg.gif);
	padding: 0 15px;
	line-height: 22px;
	
	z-index: 999;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
.layout_head_line a{
	color: #CCDE22;
	text-decoration: none;
	padding: 0 5px;
}
.layout_head_line a:hover{
	background-color: #005eac ;
}
.layout_head_line .website_icon{
	height: 22px;
}
.layout_head_line .left_buttons{
	float: left;
}
.layout_head_line .right_buttons{
	float: right;
	margin-right: 30px;
}
.layout_head_line .notice_btn .count{
	color: red;
}
.layout_head_line .mail_btn .count{
	color: red;
}
.layout_head_line .fuckie{
	background-color: rgba(0, 0, 0, 0.901961);
	filter: alpha(opacity=90); BACKGROUND-COLOR: rgb(0,0,0); WIDTH: 100%;
	width: 100%;
	padding-top: 100px;
}
.layout_head_line .fuckie .fuckie_index{
	background-color: rgb(255, 255, 255);
	width: 450px;
	margin: auto;
}
.layout_head_line .fuckie a{
	color: blue;
}
.body_block{
	width: 1000px;
	margin: 25px auto 0;
}
.frontpage{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #DDD;
	background: #F2F5F7;
	padding:1em;
}
.frontpage_block{
	border-radius: 4px;
	border: 2px solid white;
	margin-bottom:10px;
}
.frontpage_content_block{
	padding:10px;
}
.top_img{
	height: 120px;
	border-radius: 4px;
}
.top_title{
	font-size: 40px;
	color: #CCDE22;
}
.top_title_block{
	padding: 40px;
}
.nav_block{
	width:100px;
	float:left;
	margin:0 10px;
}
.nav_title{
	background-color: #6589D1;
	text-align: center;
}
.nav_block a{
	display:block;
}
.clear{
	clear:both;
}
.notice_dialog {
	width: 200px;
	border: solid 2px #808080;
	background-color: #F2F5F7;
}
