{% if result == 'success' %}
%div 上传成功！
{% else %}
%div {{result}}
%div
  %a{:href => "{{ROOT}}/common/UploadImage?accept={{accept}}"} 返回
{% endif %}
:javascript
  var savepath = '{{savepath}}';
  var result = '{{result}}';
  parent.uploadCallBack(result, savepath);
