%form{:action => "{{ROOT}}/common/UploadImageResult", :enctype => "multipart/form-data", :method => "post"}
  %input{:name => "accept", :type => "hidden", :value => "{{accept}}"}/
  %input{:accept => "{{accept}}", :name => "file", :type => "file"}/
  %input{:type => "submit"}/
