@import "../common";

.user_homepage{
	.left_column{
		width: 200px;
		padding: 10px;

		.nickname{
			text-align: center;
			padding: 5px 0;
			font-size: 28px;
			color: @color-full-dark;
			font-weight: bold;
		}

		.button_area{
			padding-top: 10px;

			div{
				text-align: center;
			}
		}
	}

	.right_column{
		width: 500px;
		padding: 10px;

		.msg_list{
			.msg_item{
				.item;

				.ctime{
					.time;
				}
			}
		}
	}
}
