{% do res.add('dje/dje.ajax_form', 'js') -%}
{% do res.add('dje/dje.mask', 'js') -%}
{% do res.addResByPath() %}
{% include 'widget/UserPanel.html' %}
{% include 'widget/TransText.html' %}
.discuss_topic{"data-topic-id" => "{{ topicInfo['id'] }}"}
  .top_button_block
    %a{:href => "{{ROOT}}/discuss/List"} 返回讨论区列表
  .topic_headblock.common_horizontal_block.clearfix
    %span.topic_title {{topicInfo['title']|e}}
    .push_right.right_buttons
      %a#focus_topic_btn.jf_button{:href => "#"} 关注此主题
  .jf_tag_line.common_horizontal_block
    {% for tag in aTagIter %}
    %span.jf_tag {{ tag['content'] | e }}
    {% else %}
    %span.jf_tag 无标签
    {% endfor %}
  .building
    {% for reply in aReplyIter %}
    .floor.common_horizontal_block.clearfix{"data-floor-id" => "{{reply['id']}}", :floor_num => "{{ reply['floor'] }}"}
      %a{:name => "reply{{reply['id']}}"}
      .common_layout_column.floor_left_column
        .user_panel
          .common_avatar_block
            %img.avatar{:alt => "avatar", :src => "{{ avatar( reply['ui.avatar'] ) }}"}/
          .nickname
            %a.username_btn{"data-userid" => "{{reply['ui.id']}}", :href => "#"}
              {{reply['ui.nickname']}}
      .common_layout_column.floor_right_column
        {% if reply['reply_to_id'] > 0 and reply['rtr.id'] %}
        .reply_to_reply{"data-reply-to-id" => "{{reply['reply_to_id']}}"}
          %span reply to:
          %span
            %a.username_btn{"data-userid" => "{{reply['rtrui.id']}}", :href => "#"}
              {{reply['rtrui.nickname']|e}}
          .content
            %script{:type => "text/markdown"} {{ reply['rtr.text']|e}}
            .jf_markdown {{ reply['rtr.text'] |e}}
          .buttons
            %a.jump_button{:href => "#"} jump to
        {% endif %}
        .floor_content
          .floor_text
            %script{:type => "text/markdown"} {{ reply['text']|e }}
            .jf_markdown {{ reply['text']|e }}
          .floor_edit
            {% if reply['ui.id'] == uid %}
            %form.edit_form{:action => "{{ROOT}}/discuss/ajaxEditReply", :method => "post", :onsubmit => "return false;"}
              <input type='hidden' name='reply_id' value='{{reply['id']}}' />
              %textarea{:name => "text", :placeholder => "请输入回复内容..."}
              %input{:type => "submit", :value => "提交修改"}/
            {% endif %}
        .floor_right_bottom
          .floor_count {{ reply['floor'] }}楼
          .floor_time {{ timestr(reply['ctime']) }}
          .floor_button
            %a.reply_button{:href => "#"} 回复
            {% if reply['ui.id'] == uid %}
            %a.edit_button{:href => "#"} 编辑
            {% endif %}
    {% endfor %}
  .center_button_block
    %a{:href => "{{ROOT}}/discuss/List"} 返回讨论区列表
  .reply_block
    {% if uid > 0 %}
    %form#reply_form{:action => "{{ROOT}}/discuss/ajaxPostReply", :method => "post", :onsubmit => "return false;"}
      <input type='hidden' name='tid' value='{{topicInfo['id']}}' />
      %input{:name => "reply_to_id", :type => "hidden", :value => "-1"}/
      %h1 发表回复
      .reply_to_hint.common_horizontal_block{:style => "display:none"}
        .clear_fix.head_line
          %span
            回复
            %span.to_username
          %a.push_right.cancel_reply_button{:href => "#"} 取消
        .jf_markdown
      %div
        %textarea{:name => "text", :placeholder => "请输入回复内容..."}
      %input{:type => "submit", :value => "发送"}/
    {% else %}
    %div 未登录用户无法评论。
    %div
      请先
      %a{:href => "{{ROOT}}/user/Login?redirect=/discuss/Topic/id/{{topicInfo['id']}}"} 登录
    {% endif %}
