<div class="common_pager">
	<div class="buttons">
		{% if current_page > 0 %}
			<a href='?page={{current_page-1}}'>上一页</a>
			<a href='?page=0'>1</a>
		{% else %}
			<span>上一页</span>
			<span>1</span>
		{% endif %}
		{% if page_begin > 1 %}
			<span>...</span>
		{% endif %}
		{% for i in range(page_begin,page_end) %}
			{% if i == current_page %}
				<span>{{i+1}}</span>
			{% else %}
				<a href='?page={{i}}'>{{i+1}}</a>
			{% endif %}
		{% endfor %}
		{% if page_end < page_count -1 %}
			<span>...</span>
		{% endif %}
		{% if current_page < page_count -1 %}
			<a href='?page={{page_count-1}}'>{{page_count}}</a>
			<a href='?page={{current_page+1}}'>下一页</a>
		{% else %}
			<span>{{page_count}}</span>
			<span>下一页</span>
		{% endif %}
	</div>
	<div class="hints">
		共{{total_count}}个，当前第{{current_page + 1}}/{{page_count}}页
	</div>
</div>
